<!DOCTYPE html>
<html lang="en">

<head>
  <title>BitTube AirTime Explorer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="CACHE-CONTROL" content="PUBLIC, MAX-AGE=1800">
  <link rel="stylesheet" type="text/css" href="css/roboto_font.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/airtime.js"></script>
</head>

<body onload="checkLastAct(); setCurrentDateFilters(); checkUrlParams(); onload();" onunload="updateLastAct();">
  <!-- Start div navbar -->
  <div class="navbarFixed">
    <!-- Start div logo -->
    <div class="logo">
      <a href="airtime.html">
        <svg class="playSvg" xmlns="http://www.w3.org/2000/svg" id="dac81752-eec1-49b1-bf66-cb1b4b86e7bc" data-name="color" viewBox="0 0 277.1 237.1">
          <defs>
            <style>
              .fillgray {
                fill: #464646;
              }
            </style>
          </defs>
          <title>BitTube</title>
          <path class="fillgray whiteSvg" d="M264.5,55.7C238.3,2.3,160.8-12.9,91.4,21.6s-104.3,105.8-78,159.1,103.7,68.6,173,34.1S290.7,109,264.5,55.7Zm-81.9,149C132.2,229.8,72.4,211.5,49,163.8S47.3,57.1,97.7,32s110.1-6.7,133.6,41S232.9,179.6,182.6,204.7Zm11.8-89.8-88-53.8a4,4,0,0,0-5.8,3.5V171.8a4,4,0,0,0,5.8,3.5l88-53.4A4,4,0,0,0,194.4,114.9Z"
          />
        </svg>

        <svg class="bitSvg" xmlns="http://www.w3.org/2000/svg" id="218cd1ff-3988-4aa6-9069-1c59d6aad2d7" data-name="color" viewBox="0 0 394.8 237.1">
          <path class="greenSvg" d="M206.8,51.4c0,14.5-10.3,24.8-24.8,24.8s-24.8-10.3-24.8-24.8S167.6,26.6,182,26.6,206.8,37,206.8,51.4Zm-2.6,161.2H159.9V89.7h44.3Z"
            [attr.data-active-color]="this.mainActiveColor" />
          <path class="greenSvg" d="M285.8,89.7h32.5v37.1H285.8v35.9c0,7.7,5.3,12.8,13.7,12.8a31.2,31.2,0,0,0,14.5-3.4l10.6,34.7a54.9,54.9,0,0,1-29.4,8.2c-33.2,0-53.7-18.8-53.7-51.8V126.8H220.8V89.7h20.7V49.5h44.3Z"
            [attr.data-active-color]="this.mainActiveColor" />
          <path class="greenSvg" d="M111.9,116.7c7.3-6,14.2-16.6,14.2-32.3,0-30.8-22.6-48.9-56.8-48.9H6.6V212.6H80.9c31.8,0,59.2-18.8,59.2-53C140.1,136.2,128.3,123.9,111.9,116.7Zm-60.6-9.5v-36a1.4,1.4,0,0,1,2-1.2L82.9,88a1.4,1.4,0,0,1,0,2.4l-29.6,18A1.4,1.4,0,0,1,51.3,107.2ZM89.8,159,54.7,180.3a1.5,1.5,0,0,1-2.3-1.4V136.2a1.5,1.5,0,0,1,2.3-1.4l35.1,21.4A1.6,1.6,0,0,1,89.8,159Z"
            [attr.data-active-color]="this.mainActiveColor" />
        </svg>

        <svg class="tubeSvg" xmlns="http://www.w3.org/2000/svg" id="ed323881-8439-4b4b-b880-d77c96de97de" data-name="color" viewBox="0 0 561.2 237.1">
          <defs>
            <style>
              .\32 63dc0a6-34e7-42ba-8d50-18c8f5cb9c22 {
                fill: rgb(70, 70, 70);
              }
            </style>
          </defs>
          <title>tube-white</title>
          <path class="263dc0a6-34e7-42ba-8d50-18c8f5cb9c22 whiteSvg" d="M156.6,75.8H102.7V212.6H56.9V75.8H3V35.5H156.6Z" />
          <path class="263dc0a6-34e7-42ba-8d50-18c8f5cb9c22 whiteSvg" d="M264.3,212.6H224.8l-2.2-12.3c-6,8.6-16.6,14.7-33,14.7-29.6,0-44.5-21.5-44.5-55.7V89.7h44.3v67.2c0,9.9,4.3,16.6,13.5,16.6s14.2-5.5,17.1-10.6V89.7h44.3Z"
          />
          <path class="263dc0a6-34e7-42ba-8d50-18c8f5cb9c22 whiteSvg" d="M337.5,99.4c4.8-5.6,14.2-12.1,31.1-12.1,31.8,0,53.4,27,53.4,63.8S400.4,215,368.6,215c-16.4,0-27.7-6.5-33.7-15l-2.2,12.6H293.2V29.5h44.3Zm0,37.8v28.2c3.9,6.2,9.9,11.3,19.3,11.3,12.3,0,20.4-9.2,20.4-25.6s-8.1-25.5-20.4-25.5C347.4,125.6,341.4,130.7,337.5,137.2Z"
          />
          <path class="263dc0a6-34e7-42ba-8d50-18c8f5cb9c22 whiteSvg" d="M559.3,149.2v12.5H481.5c.5,10.9,7.7,17.4,21.2,17.4,9.2,0,17.6-4.1,22.4-10.1l30.1,24.1C541.7,208,525.1,215,501.8,215c-39.1,0-65.1-26.8-65.1-63.6s26-64.1,64.3-64.1C541,87.3,559.3,115.7,559.3,149.2Zm-77.8-12.3h34.2c-.2-9.6-6-18.3-16.6-18.3S481.8,127.1,481.5,136.9Z"
          />
        </svg>
        <label class="labelExplorer"> | AirTime Explorer |</label>
        <a class="labelExplorer" style="margin-left: 0px;" href='/'>Blockchain Explorer</a>
      </a>
    </div>
    <!-- End div logo -->

    <div class="divSearchNavbar">
      <div style="width:100%;" class="style-1 formNavbar">
        <div class="form-group searchCenter">
          <form action="javascript:searchStats()">
            <input type="text" name="value" size="120" placeholder="username, wallet, ipfs hash, airtime id" id="inputSearch" class="inputSearch form-control">
          </form>
          <button id="searchButton" type="submit" value="Search" class="buttonSearch" onclick="searchStats()">
            <i class="material-icons cursor_pointer">search</i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End div navbar -->

  <!-- <div id='loading-spinner' class="lds-ring"></div> -->
  <div id='loading-spinner' class="lds-ring"><div></div><div></div><div></div><div></div></div>

  <!-- start div Body Content -->
  <div class="divBodyContent">
    </div>
    <div class="center" id="filterContainer">
      <div class="divDataFiler">
        <div id="filterFromDIV" class="divDataFrom">
          <div class="divDate">
            <label for="datefrom" class="DatePicker">Date From</label>
            <input type="date" name="datefrom" id="datefrom" class="DatePicker">
          </div>
          <div class="divHour">
            <label for="dateHourFrom" class="DatePicker">Hour From</label>
            <input type="time" id="dateHourFrom" name="dateHourFrom" min="00:00" max="23:59" />
          </div>
        </div>

        <div id="filterToDIV" class="divDataFrom">
          <div class="divDate">
            <label for="dateTo" class="DatePicker">Date To</label>
            <input type="date" name="dateTo" id="dateTo" class="DatePicker">
          </div>

          <div class="divHour">
            <label for="dateHourTo" class="DatePicker">Hour To</label>
            <input type="time" id="dateHourTo" name="dateHourTo" min="00:00" max="23:59" />
          </div>
        </div>
        <div class="DivButtonFiler">
          <button type="button" data-call="channel" class="roseButton filterButton" id="dateFilter" onClick="filterByDate()">Filter</button>
          <!-- <button type="button" id="dateFilterReset" class="roseButton filterButton" onClick="resetDateFiltersUserHour()">Last Hour</button> -->
          <!-- <button type="button" id="dateFilterReset" class="roseButton filterButton" onClick="resetDateFiltersUser()">Last 24 Hours</button> -->
          <!-- <button type="button" id="dateFilterReset" class="roseButton filterButton" onClick="resetDateFiltersUserAllOfTime()">All of Time</button> -->
        </div>
      </div>
    </div>

    <div class="center hidden" id="noDataContainer">
      <div>No Data</div>
    </div>

    <!-- Overview -->
    <div class="hidden" id="overviewContainer">
      <!-- Creators -->
      <div class="center">
        <h2 class="titleCreatorsViewers">Creators:</h2>
        <table class="center" id="airtimeTableCreators"></table>
        <div id="pagesCreators" class="center" style="text-align: center;"></div>
      </div>
      <!-- Viewers -->
      <div class="center" id="DivViewers">
        <h2 class="titleCreatorsViewers">Viewers:</h2>
        <table class="center" id="airtimeTableViewers"></table>
        </table>
        <div id="pagesViewers" class="center" style="text-align: center;"></div>
      </div>
      <!-- Payments -->
      <div class="center" id="paymentsContainer">
          <h2 class="titleCreatorsViewers">Payments:</h2>
          <table class="center" id="airtimeTablePayments"></table>
          <div id="pagesPayments" class="center" style="text-align: center;"></div>
        </div>
    </div>
    </div>

    <!-- Channel -->
    <div class="center hidden" id="channelContainer">
      <h4 id="channelName" style="margin:5px"></h4>
      <h5 id="channelWallet" style="margin:5px"></h5>
      <h5 id="channelUnpaidBalance" style="margin:5px;"></h5>
      <h5 id="channelPaidBalance" style="margin:5px;"></h5>
      <!-- <h5 id="channelLastPaidAt" style="margin:5px;"></h5> -->
      <br>
      <h5 style="margin:5px;">Time Filtered Stats:</h5>
      <h5 id="channelTotalCreatorReward" style="margin:5px;"></h5>
      <h5 id="channelTotalViewerReward" style="margin:5px;"></h5>
      <h5 id="channelTotalVideos" style="margin:5px"></h5>
      <h5 id="channelTotalAirTime" style="margin:5px; margin-bottom: 20px;"></h5>
      <table class="center" id="airtimeTableChannel"></table>
      <div id="pagesChannel" class="center" style="text-align: center;"></div>
    </div>

    <!-- Video -->
    <div class="center hidden" id="videoContainer">
      <h5 id="videoHash" style="margin:5px"></h5>
      <h5 id="channelName" style="margin:5px"></h5>
      <h5 id="videoWallet" style="margin:5px"></h5>
      <h5 id="totalVideoAirtime" style="margin:5px"></h5>
      <h5 id="totalVideoCreatorReward" style="margin:5px"></h5>
      <h5 id="totalVideoViewerReward" style="margin:5px"></h5>
      <h5 id="totalVideoViewers" style="margin:5px; margin-bottom: 20px;"></h5>
      <table class="center" id="airtimeTableVideo"></table>
      <div id="pagesVideo" class="center" style="text-align: center;"></div>
    </div>

    <!-- Viewer -->
    <div class="center hidden" id="viewerContainer">
      <h4 id="viewerName" style="margin:5px"></h4>
      <h4 id="viewerID" style="margin:5px"></h4>
      <h5 id="viewerWallet" style="margin:5px"></h5>
      <h5 id="viewerUnpaidBalance" style="margin:5px;"></h5>
      <h5 id="viewerPaidBalance" style="margin:5px;"></h5>
      <!-- <h5 id="viewerLastPaidAt" style="margin:5px;"></h5> -->
      <br>
      <h5 style="margin:5px;">Time Filtered Stats:</h5>
      <h5 id="totalVideosWatched" style="margin:5px"></h5>
      <h5 id="totalCreatorReward" style="margin:5px;"></h5>
      <h5 id="totalViewerReward" style="margin:5px;"></h5>
      <h5 id="totalAirtime" style="margin:5px; margin-bottom: 20px;"></h5>
      <table class="center" id="airtimeTableViewer"></table>
      <div id="pagesViewer" class="center" style="text-align: center;"></div>
    </div>
  <!-- end div Body Content -->
</body>

</html>