.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #464646 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  text-decoration: underline;
  text-decoration-color: #a59b9b;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  margin-left: 100px;
  /* top: -5px; */
  /* left: 105%;  */
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#loading-spinner {
  color: green;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

#noDataContainer {
  text-align: center;
  font-size: 25px;
  margin-top: 35px;
}

body {
  margin: 0;
  padding: 0;
  color: #3c4858;
  /*background-color: black;*/
  background-color: #eee;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.center {
  margin: auto;
  width: 96%;
  max-width: 1400px;
  /*border: 1px solid #73AD21;
    padding: 10px;*/
}

tr,
li,
#pages,
.info,
#pagesCreators,
#pagesViewers,
#pagesChannel,
#pagesVideo,
#pagesPayments,
#pagesViewer {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  height: 22px;
}

#pages {
  margin-top: 15px;
}

td {
  text-align: center;
}

td>a {
  color: #86af49 !important;
}

td>a:hover {
  text-decoration: underline;
}

a,
.clickAbleSpan {
  color: #86af49 !important;
}

.clickAbleSpan {
  cursor: pointer;
  font-size: 12px;
}

#pagesCreators,
#pagesViewers,
#pagesChannel,
#pagesVideo,
#pagesViewer {
  margin-top: 10px;
  margin-bottom: 10px;
}

a:link {
  text-decoration: none;
  color: #86af49;
}

a:visited {
  text-decoration: none;
  color: #3c4858;
}

a:hover {
  text-decoration: none;
  color: #86af49;
}

a:active {
  text-decoration: none;
  color: #3c4858;
}

form {
  display: inline-block;
  text-align: center;
}

/*.style-1 input[type="text"] {
    padding: 2px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}*/

.tabs {
  position: relative;
  min-height: 220px;
  /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eeeeee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
  cursor: pointer;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: #eeeeee;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 190px;
}

[type=radio]:checked~label {
  background: #e6e6e6;
  border-bottom: none;
  z-index: 2;
}

[type=radio]:checked~label~.content {
  z-index: 1;
}

input#toggle-1[type=checkbox] {
  position: absolute;
  /*top: -9999px;*/
  left: -9999px;
}

label#show-decoded-inputs {
  /*-webkit-appearance: push-button;*/
  /*-moz-appearance: button;*/
  display: inline-block;
  /*margin: 60px 0 10px 0;*/
  cursor: pointer;
  background-color: #eeeeee;
  ;
  color: #3c4858;
  width: 100%;
  text-align: center;
}

div#decoded-inputs {
  display: none;
}

/* Toggled State */

input#toggle-1[type=checkbox]:checked~div#decoded-inputs {
  display: block;
}

.navbarFixed {
  position: fixed;
  top: 0px;
  height: 56px;
  background-color: white;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.bitSvg {
  height: 27px;
  margin-top: 0px;
  float: left;
  margin-left: 5px;
}

.tubeSvg {
  height: 27px;
  margin-top: 0;
  float: left;
  margin-left: -8px;
}

.playSvg {
  height: 25px;
  margin-top: 2px;
  float: left;
}

.greenSvg {
  fill: #86af49;
}

.logo {
  /* max-height: 80px; */
  /* width: 246px; */
  /* display: inline-block; */
  float: left;
  position: relative;
  top: 14px;
  z-index: 2;
}

input {
  border: none !important;
  border-bottom: 1px solid #dcdcdc !important;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.inputSearch {
  height: 30px;
  margin-top: 8px;
  width: calc(50% - 56px);
  border: none !important;
  border-bottom: 1px solid #dcdcdc !important;
  outline: none;
  box-shadow: none;
}

.inputSearch:focus {
  box-shadow: none;
}

.buttonSearch {
  background-color: transparent;
  border: none;
  height: 35px;
  outline: none;
  line-height: 1px;
  width: 35px;
  border-radius: 50%;
  margin-top: 9px;
}

.cursor_pointer {
  cursor: pointer;
}

.labelExplorer {
  color: #464646;
  font-size: 15px;
  line-height: 2.3;
  margin-left: 7px;
  cursor: pointer;
  font-weight: normal;
}

.divBodyContent {
  margin-top: 70px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 17px !important;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #999;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.form-group .form-control {
  border-color: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  height: 28px;
  font-size: 14px;
  line-height: 1.42857143;
  display: inline-block;
  width: 500px;
  vertical-align: middle;
}

.searchCenter {
  position: absolute;
  left: calc(50% - 320px);
  top: -12px;
}

.formNavbar {
  position: relative;
  float: left;
  top: 11px;
}

.roseButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, .14), 0 3px 1px -2px rgba(233, 30, 99, .2), 0 1px 5px 0 rgba(233, 30, 99, .12);
  border-radius: 3px;
}

table {
  border-spacing: 0;
  border: 1px solid #dcdcdc;
}

td {
  border-top: 1px solid #dcdcdc !important;
}

tr:first-of-type {
  background-color: #e6e6e6;
}

.hidden {
  display: none;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar .navbar-toggle .icon-bar {
  background-color: inherit;
  border: 1px solid;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media screen and (min-width: 1064px) {
  .divSearchNavbar {
    width: calc(100% - 410px);
    float: right;
    /* display: inline-block; */
  }
  .navbar-toggle {
    display: none;
  }
}

@media screen and (max-width: 1064px) {
  /* .divSearchNavbar { */
  /*display: none;*/
  /* } */
  .navbarFixed {
    padding-right: 5px;
    padding-left: 5px;
    height: 90px;
  }
  .divBodyContent {
    margin-top: 110px;
  }
  .navbar-toggle {
    display: block;
    padding: 15px;
    margin-top: 6px;
    width: 40px;
    height: 40px;
    display: block !important;
    float: right;
    background-color: transparent;
    border: none;
    margin-right: 15px !important;
    outline: none;
  }
  .navbar-toggle .icon-bar:nth-child(2) {
    top: 0;
    -webkit-animation: .5s linear forwards topbar-back;
    animation: .5s forwards topbar-back;
  }
  .navbar-toggle .icon-bar:nth-child(3) {
    opacity: 1;
  }
  .navbar-toggle .icon-bar:nth-child(4) {
    bottom: 0;
    -webkit-animation: .5s linear forwards bottombar-back;
    animation: .5s forwards bottombar-back;
  }
  .navbar-toggle .icon-bar {
    display: block;
    position: relative;
    background: #3c4858;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
  }
}

.titleCreatorsViewers,
.divDataFiler {
  margin: auto;
  width: 96%;
  max-width: 1400px;
  text-align: left;
  margin-bottom: 10px !important;
  font-size: 14px;
}

.custom-select {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.custom-select:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.custom-select select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.custom-select select:focus {
  outline: none;
}

/* */

.divDate {
  width: 45%;
  display: inline-block;
  margin-right: 20px;
}

.divHour {
  margin-left: 30px;
}

.divDataFrom,
.divHour {
  display: inline-block;
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="time"] {
  height: 22px;
  background: white;
  border: 1px solid #ccc !important;
  width: 100px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-left: 8px;
}

.filterButton {
  height: 25px !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
  padding: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

label.DatePicker {
  display: block;
}

input.DatePicker {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  width: 190px;
  height: 16px;
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
}

.DivButtonFiler {
  display: inline-block;
}